USE [master]
GO
/****** Object:  Database [CHTransport]    Script Date: 2021-05-29 17:38:23 ******/
CREATE DATABASE [CHTransport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHTransport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CHTransport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHTransport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CHTransport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHTransport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHTransport]
GO
/****** Object:  Table [dbo].[tblAPCData]    Script Date: 2021-05-29 17:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAPCData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainId] [int] NULL,
	[Count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMission]    Script Date: 2021-05-29 17:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainId] [int] NULL,
	[NextStation] [nvarchar](150) NULL,
	[EstimatedArrival] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSystemStatus]    Script Date: 2021-05-29 17:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSystemStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainId] [int] NULL,
	[ErrorState] [nvarchar](25) NULL,
	[OnBoardComputerTemp] [float] NULL,
	[PassengerDisplayOn] [bit] NULL,
	[CCTVOn] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrain]    Script Date: 2021-05-29 17:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrain](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeId] [int] NULL,
	[Owner] [nvarchar](100) NULL,
	[IsCloudConnected] [bit] NULL,
	[Position] [nvarchar](100) NULL,
	[Velocity] [int] NULL,
	[Accelaration] [int] NULL,
	[Direction] [nvarchar](50) NULL,
	[CabineLightsOn] [bit] NULL,
	[ACOn] [bit] NULL,
	[ACTemp] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrainType]    Script Date: 2021-05-29 17:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrainType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
